<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hz Audio Conversion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="container">
        <div class="title">
            <h1>Hz Audio Conversion</h1>
            <h3>Select Hz option below and upload mp3 file for audio conversion.</h3>
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="radio-buttons">
                <input type="radio" id="hz444" name="hz_option" value="444">
                <label for="hz444">444 Hz</label><br>
                <input type="radio" id="hz528" name="hz_option" value="528">
                <label for="hz528">528 Hz</label><br>
            </div>
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
    </section>
</body>
</html>

