<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hz Audio Conversion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="container">
        <div class="title">
            <h1>Hz Audio Conversion</h1>
            <h3>Enter Hz value below and upload mp3 file for audio conversion.</h3>
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="input-field">
                <label for="hz_option">Target Frequency (20 Hz to 20,000 Hz):</label><br><br>
                <input type="text" id="hz_option" name="hz_option" placeholder="e.g., 528">
            </div><br>
            <input type="file" name="file">
            <button type="submit">Upload</button>
        </form>
    </section>
</body>
</html>
